# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aldov\Desktop\Cursos Primer Semestre 2022\Laboratorio Introuducción a la Programación y Computación 1\Proyectos\Proyecto 1\IPC1-Proyecto1_202109754\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
